// Вік користувача

let yearOfBirth = prompt("Введіть рік вашого народження:");

let currentYear = prompt("Введіть поточний рік:");

let age = currentYear - yearOfBirth;

alert("Ваш вік: " + age);

// ВІКТОРИНА

let answer = prompt("Чи знаєте ви, що таке програмування? (Так/Ні)");

if (answer.toLowerCase() === "так") {
  alert("Чудово! Ви знаєте, що таке програмування.");
} else if (answer.toLowerCase() === "ні") {
  alert("Програмування - це процес створення програмного забезпечення. Можливо, вам буде цікаво дізнатись більше про це.");
} else {
  alert("Будь ласка, введіть Так або Ні.");
}
